:root {
  --font-sans: 'Geist', 'Inter', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --background: oklch(0.1422 0 0);
  --foreground: oklch(0.9592 0.0093 252.86);
  --primary: oklch(0.4242 0.1982 265.5);
  --primary-foreground: oklch(0.9592 0.0093 252.86);
  --muted: oklch(0.209 0 0);
  --muted-foreground: oklch(0.6111 0.0108 252.86);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}
