@import 'tailwindcss';
@import './styles/themes.css';

@layer base {
  body {
    /* overscroll-none overflow-hidden */
    @apply relative font-sans bg-background text-foreground;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-none tracking-tight;
  }

  button,
  a,
  [role='button'] {
    @apply cursor-pointer touch-manipulation;
  }

  @import 'tailwindcss';

  @layer base {
    :root {
      @apply text-[rgba(255,255,255,0.87)] bg-[#000] font-sans;
    }

    body {
      @apply min-w-[320px] min-h-screen relative m-0;
    }

    button {
      cursor: pointer;
    }
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none !important;
  }
}
