@import 'tailwindcss';
@import './styles/themes.css';

:root {
  --font-sans: 'Geist', 'Inter';
  --font-mono: 'Geist Mono', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@layer base {
  body {
    @apply bg-black text-zinc-50 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight leading-none;
  }

  button {
    @apply cursor-pointer;
  }
}
