@import 'tailwindcss';
@import './styles/themes.css';

@layer base {
  body {
    @apply relative overflow-x-hidden font-sans bg-black text-foreground;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-none tracking-tight;
  }

  button {
    @apply cursor-pointer;
  }
}
